html body{
    margin:0;
    padding:0;
    background:white;
}
input[type=checkbox]{
    display:none;
}

.background{
    width: 50%;
    height:50%;
    margin: auto;
    position:relative;
    top:300px;
    left:300px;
}
.outer-oval{
  width:180px;
  height:100px;
  background:white;
  border-radius: 50px;
  box-shadow: 0 0 30px gray; 
  position:relative;
 
}
.inner-oval{
  margin:auto;
  background:#dcdfe5;
  width:150px;
  height:70px;
  position:relative;
  top:15px;
  border-radius:50px;
  box-shadow:none;
  

}
.inner-oval label{
  width:70px;
  height:70px;
  border-radius:70px;
  background:#d11306;
  border: 1px solid #961206;
  position:absolute;
  left:0;
  cursor:pointer;
  z-index:1;
  transition:background .3s ease-out, left .3s ease-out;
  
}
.inner-oval input[type=checkbox]:checked + label{
    position:absolute;
    background:#269607;
    left:80px;
}
.inner-oval:after{
    content:"OFF";
    position: absolute;
    top:25px;
    left:90px;
    color:gray;
    z-index:0;
}
.inner-oval:before{
    content:"ON";
    position:absolute;
    top:25px;
    left:40px;
    color:gray;
    z-index:0;
}
.glow{
    position: absolute;
    top: -16px;
    left: -15px;
    height: 100px;
    width: 180px;
    box-shadow: 0 0 70px yellow;
    border-radius: 100px;
    opacity: 0; 
}
.inner-oval input[type=checkbox]:checked ~ .glow{
    opacity:1;
}

