html,body{
    margin: 0px;
    padding:0px;
}
body{
    text-align: center;
    font-family: Helvetica, Arial;
    border: 1px, solid, black;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     
     
.header{
    background: #022359 ;
    padding: 10px 10px;
    position:fixed;
    width:100%;
    border: 1px, solid, black;
}

.menu li {
    display: inline;
    margin: 10px 10px;
    color: white;
    border: 1px, solid, black;
}
.home{
    background: #164693;
    text-align: center;
    height: 240px;
    border: 1px, solid, black;
}

.image-circular{
    float: left;
    height: 120px;
    width: 120px;
    border-radius: 60px ;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px grey;
    position:relative;
    left: 550px;
    top: 100px;
    border: 1px, solid, black;
    
}
.info{
    color:white;
    height: 180px;
    position:relative;
    top: 130px;
    left: 0px;
    border: 1px, solid, black;
}
.project {
    background: #c41f40;
    height: 250px;
    border: 1px, solid, black;
}
.heading{
    font-size: larger;
    font-weight: bold;
    color: white;
    width: 80%;
    padding-top:30px;
    padding-bottom: 10px;
    border: 1px, solid, black;
}
.images{
    width: 80%;
    background: black;
    border: 1px, solid, black;
}
.project-images {
    float: left;
    background-color: #44413b;
    font-size: 40px;
    height: 50px;
    width: 50px;
    margin: 5px;
    color:#ada596 ;
    border: 6px #d39313 solid;
    text-align: center;
    border: 1px, solid, black;
}

.skills{
    background:#75081e ;
    height: 250px;
    border: 1px, solid, black;
    
}
.contacts{
    background:#d39313;
    height:250px ;
    border: 1px, solid, black;
}
.skill{
    text-align: left;
    padding-left: 510px;
    border: 1px, solid, black;
}
.skill div{
    color: #d39313;
    display: inline-block;
    height: 15px;
    width: 40px;
    text-align: right;
    margin: 2px;
    border: 1px, solid, black;
}
#html{
    background:#d39313;
    width: 300px;
    height: 15px;
    border: 1px, solid, black;
}
#css{
    background:#d39313;
    width: 150px;
    height: 15px;
    border: 1px, solid, black;
}
#js{
    background:#d39313;
    width: 40px;
    height: 15px;
    border: 1px, solid, black;
}
.contact{
    text-align: left;
    padding-left: 510px;
    border: 1px, solid, black;
}
.contact div{
    color: black;
    font-weight: bold;
    display: inline-block;
    height: 15px;
    width: 40px;
    text-align: right;
    margin: 2px;
    border: 1px, solid, black;
    padding-right: 25px;
    border: 1px, solid, black;
}
#name{
    background:white;
    width: 300px;
    height: 15px;
    border: 1px, solid, black;
}
#email{
    background:white;
    width: 300px;
    height: 15px;
    border: 1px, solid, black;
}
#message{
    background:white;
    width: 300px;
    height: 100px;
    border: 1px, solid, black;
}
